# VOYA Environment Configuration Template
EXPO_PUBLIC_API_BASE_URL=https://6c4f-103-183-240-250.ngrok-free.app
EXPO_PUBLIC_TOURISM_SERVICE_URL=https://6c4f-103-183-240-250.ngrok-free.app
EXPO_PUBLIC_APP_ENV=development
